{{!<Layout}}
{{ViewBag Title='运行日志'}}

{{#if ViewBag.HistoryEnabled}}


<div class="ui message">
    <i class="info circle icon"></i>
    todo::扩展详细运行日志!
</div>


<table class="ui single line table highlight-rows" id="history-list">
    <thead>
        <tr>
            <th>运行结果</th>
            <th>工作信息</th>
            <th>执行信息</th>
            <th>调度时间</th>
            <th>开始时间</th>
            <th>完成时间</th>
            <th>运行耗时</th>
        </tr>
    </thead>
    <tbody>
        {{#each Model}}
        <tr>
            <td>
                <a href="{{ActionUrl 'Show' 'History' id=Entity.Id}}">
                    <i class="{{StateIcon}} icon" title="{{State}}"></i>
                </a>
            </td>
            <td class="job-key">
                <a href="{{ActionUrl 'Edit' 'Jobs' group=JobGroup name=JobName}}">{{JobGroup}}.{{JobName}}</a>
            </td>
            <td class="trigger-name"><a href="{{ActionUrl 'Edit' 'Triggers' group=TriggerGroup name=TriggerName}}">{{TriggerGroup}}.{{TriggerName}}</a></td>
            <td>{{ScheduledFireTimeUtc}}</td>
            <td>{{ActualFireTimeUtc}}</td>
            <td>{{FinishedTimeUtc}}</td>
            <td>{{Duration}}</td>
        </tr>
        {{#if Entity.ExceptionMessage}}
        <tr class="error-row">
            <td colspan="6">
                <p>{{Entity.ExceptionMessage}}</p>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>

{{#unless Model}}
{{>EmptyList ''}}
{{/unless}}
{{else}}
<div class="ui negative message">
    <div class="header" style="margin-bottom: 0.5em">Job history is not available.</div>
    Enable ExecutionHistoryPlugin in Quartz configuration section.
</div>
{{/if}}