{{!<Layout}}
{{ViewBag Title='运行日志'}}

{{#if ViewBag.HistoryEnabled}}



<table class="ui single line table highlight-rows" id="history-list">
    <thead>
        <tr>
            <th>状态</th>
            <th>实例ID</th>
            <th>工作信息</th>
            <th>调度时间</th>
            <th>开始时间</th>
            <th>完成时间</th>
            <th>运行耗时</th>
        </tr>
    </thead>
    <tbody>
        {{#each Model}}
        <tr>
            <td>
                <i class="{{StateIcon}} icon" title="{{State}}"></i>

            </td>
            <td>
                <a href="{{ActionUrl 'Show' 'History' id=Entity.Id}}">
                    {{FireInstanceId}}
                </a>
            </td>

            <td>
                <a href="{{ActionUrl 'Edit' 'Jobs' group=JobGroup name=JobName}}">{{JobGroup}}.{{JobName}}</a>
            </td>
            <td>{{ScheduledFireTimeUtc}}</td>
            <td>{{ActualFireTimeUtc}}</td>
            <td>{{FinishedTimeUtc}}</td>
            <td>{{Duration}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{#unless Model}}
{{>EmptyList ''}}
{{/unless}}
{{else}}
<div class="ui negative message">
    <div class="header" style="margin-bottom: 0.5em">扩展插件未启用.</div>
    请启用插件"ExecutionHistoryPlugin"。
</div>
{{/if}}